<div class="right">
  <div class="top">
    <button id="menu-btn">
      <span class="material-symbols-sharp"> menu </span>
    </button>

    <div class="profile">
      <div class="info">
        <p>Hey Clive</p>
        <small class="text-muted">Admin</small>
      </div>
      <div class="profile-photo">
        <img src="../../../public/logge-in.jpg" alt="" />
      </div>
    </div>
  </div>

  <div class="report-analytics">
    <div class="item add-claim">
      <div>
        <span class="material-symbols-sharp"> add_circle </span>
        <h3>Add New Claim</h3>
      </div>
    </div>
    <h2>Reports</h2>

    <div class="item accepted-claims">
      <div class="icon">
        <span class="material-symbols-sharp"> add_circle </span>
      </div>
      <div class="right">
        <div class="info">
          <h3>Added Claims</h3>
          <small class="text-muted">Last 7 days</small>
        </div>
        <h5 class="success">+39%</h5>
        <h3 id="number_of_claims">No Data</h3>
      </div>
    </div>

    <div class="item rejected-claims">
      <div class="icon">
        <span class="material-symbols-sharp"> warning </span>
      </div>
      <div class="right">
        <div class="info">
          <h3>Rejected Claims</h3>
          <small class="text-muted">Last 7 days</small>
        </div>
        <h5 class="danger">-17%</h5>
        <h3 id="rejected_claims">No Data</h3>
      </div>
    </div>

    <div class="item payouts">
      <div class="icon">
        <span class="material-symbols-sharp"> attach_money </span>
      </div>
      <div class="right">
        <div class="info">
          <h3>Payouts</h3>
          <small class="text-muted">Last 7 days</small>
        </div>
        <h5 class="success">+25%</h5>
        <h3 id="payouts">No Data</h3>
      </div>
    </div>
  </div>
</div>
