<aside>
  <div class="top">
    <div class="logo">
      <img src="../../../public/mediplus_logo.svg" alt="" />
    </div>
    <div class="close" id="close-btn">
      <span class="material-symbols-sharp"> close </span>
    </div>
  </div>

  <div class="sidebar">
    <a href=""
      ><span class="material-symbols-sharp"> grid_view </span>
      <h3>Dasboad</h3></a
    >
    <a href=""
      ><span class="material-symbols-sharp"> person_outline </span>
      <h3>Users</h3></a
    >
    <a class="active" href=""
      ><span class="material-symbols-sharp"> receipt_long </span>
      <h3>Claims</h3></a
    >
    <a href=""
      ><span class="material-symbols-sharp"> insights </span>
      <h3>Growth statics</h3></a
    >
    <a href=""
      ><span class="material-symbols-sharp"> mail_outline </span>
      <h3>Messages</h3>
      <span class="nassage-count">26</span></a
    >
    <a href=""
      ><span class="material-symbols-sharp"> inventory </span>
      <h3>Notes</h3></a
    >
    <a href=""
      ><span class="material-symbols-sharp"> report_gmailerrorred </span>
      <h3>Report Claim</h3></a
    >
    <a href=""
      ><span class="material-symbols-sharp"> settings </span>
      <h3>Settings</h3></a
    >
    <a href=""
      ><span class="material-symbols-sharp"> add </span>
      <h3>Add User</h3></a
    >
    <a href=""
      ><span class="material-symbols-sharp"> logout </span>
      <h3>Logout</h3></a
    >
  </div>
</aside>
