<div class="claim-form">
  <div class="claim-section">
    <header>
      <h2 class="modal-title">Add Claim</h2>
      <button class="close-button">&times;</button>
    </header>

    <div class="body">
      <form action="#" id="myForm">
        <div class="claim-fields-container">
          <div class="name-field">
            <div class="form-control">
              <label for="name">First Name:</label>
              <input type="text" name="" id="name" required />
            </div>

            <div class="form-control">
              <label for="surname">Last Name:</label>
              <input type="text" name="" id="surname" required />
            </div>
          </div>

          <div class="place-field-container">
            <div class="form-control">
              <label for="date">Date:</label>
              <input type="date" name="" id="date" required />
            </div>

            <div class="form-control">
              <label for="place_of_service">City:</label>
              <input type="text" name="" id="placeOfService" required />
            </div>
          </div>

          <div class="claim-field">
            <div class="form-control">
              <label for="amountClaimed">Amount Claimed:</label>
              <input type="text" name="" id="amountClaimed" required />
            </div>

            <div class="form-control">
              <label for="amountPaid">Amount paid:</label>
              <input type="text" name="" id="amountPaid" required />
            </div>
          </div>
        </div>
      </form>
    </div>

    <footer class="claim-form-footer">
      <button form="myForm" class="submit-claim-button">Submit</button>
    </footer>
  </div>
</div>
