<div class="dark_bg">
  <div class="popup">
    <header>
      <h2 class="modalTitle">Add Claim</h2>
      <button class="closeBtn">&times;</button>
    </header>

    <div class="body">
      <form action="#" id="myForm">
        <div class="inputFieldContainer">
          <div class="nameField">
            <div class="form_control">
              <label for="name">First Name:</label>
              <input type="text" name="" id="name" required />
            </div>

            <div class="form_control">
              <label for="surname">Last Name:</label>
              <input type="text" name="" id="surname" required />
            </div>
          </div>

          <div class="ageCityField">
            <div class="form_control">
              <label for="date">Date:</label>
              <input type="date" name="" id="date" required />
            </div>

            <div class="form_control">
              <label for="place_of_service">City:</label>
              <input type="text" name="" id="placeOfService" required />
            </div>
          </div>

          <div class="postSalary">
            <div class="form_control">
              <label for="amountClaimed">Amount Claimed:</label>
              <input type="text" name="" id="amountClaimed" required />
            </div>

            <div class="form_control">
              <label for="amountPaid">Amount paid:</label>
              <input type="text" name="" id="amountPaid" required />
            </div>
          </div>
        </div>
      </form>
    </div>

    <footer class="popupFooter">
      <button form="myForm" class="submitBtn">Submit</button>
    </footer>
  </div>
</div>
