<main>
  <h1 class="dashboard">Claims</h1>

  <div class="claims-list">
    <div class="filterEntries">
      <div class="entries">
        Show
        <select name="" id="table_size">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        entries
      </div>

      <div class="filter">
        <label for="search">Search:</label>
        <input
          type="search"
          name=""
          id="search"
          placeholder="Enter name/surname/place of service"
        />
      </div>
    </div>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>date</th>
          <th>Place of Service</th>
          <th>amount claimed</th>
          <th>amount paid</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="table-body"></tbody>
    </table>

    <footer>
      <span class="showEntries"></span>
      <div class="pagination"></div>
    </footer>
  </div>
</main>
