<main>
  <h1 class="dashboard">Claims</h1>

  <!-- end of insights -->

  <div class="recent-orders">
    <div class="filterEntries">
      <div class="entries">
        Show
        <select name="" id="table_size">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        entries
      </div>

      <div class="filter">
        <label for="search">Search:</label>
        <input
          type="search"
          name=""
          id="search"
          placeholder="Enter name/surname/place of service"
        />
      </div>
    </div>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>date</th>
          <th>Place of Service</th>
          <th>amount claimed</th>
          <th>amount paid</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="table-body">
        <!-- <tr>
          <td>Foldabe</td>
          <td>Foldabe</td>
          <td class="warning">Foldabe</td>
          <td class="primary">Foldabe</td>
        </tr>
        <tr>
          <td>Foldabe</td>
          <td>Foldabe</td>
          <td class="warning">Foldabe</td>
          <td class="primary">Foldabe</td>
        </tr>
        <tr>
          <td>Foldabe</td>
          <td>Foldabe</td>
          <td class="warning">Foldabe</td>
          <td class="primary">Foldabe</td>
        </tr>
        <tr>
          <td>Foldabe</td>
          <td>Foldabe</td>
          <td class="warning">Foldabe</td>
          <td class="primary">Foldabe</td>
        </tr>
        <tr>
          <td>Foldabe</td>
          <td>Foldabe</td>
          <td class="warning">Foldabe</td>
          <td class="primary">Foldabe</td>
        </tr> -->
      </tbody>
    </table>

    <footer>
      <span class="showEntries">Showing 1 to 10 of 50 entries</span>
      <div class="pagination">
        <!-- <button>Prev</button>
                  <button class="active">1</button>
                  <button>2</button>
                  <button>3</button>
                  <button>4</button>
                  <button>5</button>
                  <button>Next</button> -->
      </div>
    </footer>
  </div>
</main>
